<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game8/8000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,128},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,254},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,380},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,506},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,632},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,758},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,884},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8009.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8010.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8011.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8012.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8029.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8030.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8031.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,2},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8032.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,128},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8033.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,254},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8034.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,380},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8037.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,506},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8038.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,632},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8039.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,758},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8040.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,884},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game8/8041.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,128},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game8.png</string>
			<key>realTextureFileName</key>
			<string>Game8.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>