<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game9/9000.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,2},{26,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9001.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,84},{17,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9002.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,98},{24,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9003.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,113},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9004.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,39},{26,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9005.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,120},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9006.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,75},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9007.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,96},{25,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9008.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,84},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9009.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,112},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,33}</string>
			</dict>
			<key>UIImage/Game9/9010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,62},{45,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9011.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,50},{30,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9012.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,2},{44,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9013.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,2},{44,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9014.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,2},{44,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9015.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,50},{44,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,121},{45,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9017.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,50},{42,55}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,180},{45,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
			<key>UIImage/Game9/9019.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game9.png</string>
			<key>realTextureFileName</key>
			<string>Game9.png</string>
			<key>size</key>
			<string>{256,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>