<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game300/3043.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{271,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,405}</string>
			</dict>
			<key>UIImage/Game300/3056.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,2},{153,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,260}</string>
			</dict>
			<key>UIImage/Game300/3058.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,287},{74,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,233}</string>
			</dict>
			<key>UIImage/Game300/3059.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,180},{169,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,144}</string>
			</dict>
			<key>UIImage/Game300/3060.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,411},{690,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{690,125}</string>
			</dict>
			<key>UIImage/Game300/3064.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,266},{90,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,76}</string>
			</dict>
			<key>UIImage/Game300/3065.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,365},{57,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,37}</string>
			</dict>
			<key>UIImage/Game300/3042.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,266},{96,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,72}</string>
			</dict>
			<key>UIImage/Game300/3066.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,2},{174,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,149}</string>
			</dict>
			<key>UIImage/Game300/2143.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,2},{281,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,157}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game300.png</string>
			<key>realTextureFileName</key>
			<string>Game300.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>