<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game2/2000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,910},{205,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,101}</string>
			</dict>
			<key>UIImage/Game2/2001.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,910},{205,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,101}</string>
			</dict>
			<key>UIImage/Game2/2002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,608},{83,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,76}</string>
			</dict>
			<key>UIImage/Game2/2003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,695},{80,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,76}</string>
			</dict>
			<key>UIImage/Game2/2004.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,2},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>UIImage/Game2/2005.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,733},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>UIImage/Game2/2007.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,471},{48,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>UIImage/Game2/2008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,240},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>UIImage/Game2/2009.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,576},{53,52}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2010.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,240},{47,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2011.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,88},{30,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,23}</string>
			</dict>
			<key>UIImage/Game2/2012.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,450},{118,56}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,59}</string>
			</dict>
			<key>UIImage/Game2/2013.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,591},{121,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,59}</string>
			</dict>
			<key>UIImage/Game2/2014.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,45},{39,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,19}</string>
			</dict>
			<key>UIImage/Game2/2015.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,75},{27,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,11}</string>
			</dict>
			<key>UIImage/Game2/2016.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,2},{196,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,91}</string>
			</dict>
			<key>UIImage/Game2/2017.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{272,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,91}</string>
			</dict>
			<key>UIImage/Game2/2018.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,131},{187,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,57}</string>
			</dict>
			<key>UIImage/Game2/2019.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,643},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>UIImage/Game2/2020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,343},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>UIImage/Game2/2021.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,809},{167,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,58}</string>
			</dict>
			<key>UIImage/Game2/2022.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,774},{168,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,58}</string>
			</dict>
			<key>UIImage/Game2/2023.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,402},{44,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,39}</string>
			</dict>
			<key>UIImage/Game2/2035.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,240},{61,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,51}</string>
			</dict>
			<key>UIImage/Game2/2036.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,779},{81,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,78}</string>
			</dict>
			<key>UIImage/Game2/2037.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,519},{85,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,78}</string>
			</dict>
			<key>UIImage/Game2/2039.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,2},{283,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,69}</string>
			</dict>
			<key>UIImage/Game2/2040.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,608},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>UIImage/Game2/2041.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,940},{52,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,33}</string>
			</dict>
			<key>UIImage/Game2/2043.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,633},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>UIImage/Game2/2044.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,440},{163,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,77}</string>
			</dict>
			<key>UIImage/Game2/2045.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,607},{163,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,77}</string>
			</dict>
			<key>UIImage/Game2/2050.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,779},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>
			<key>UIImage/Game2/2051.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,97},{663,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{663,30}</string>
			</dict>
			<key>UIImage/Game2/2052.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,946},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>UIImage/Game2/2053.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,240},{196,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,91}</string>
			</dict>
			<key>UIImage/Game2/2054.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,407},{55,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2055.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,517},{54,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2056.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,240},{49,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2057.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,336},{48,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2058.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,402},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2059.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,809},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2060.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,342},{54,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2061.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,471},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2062.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,681},{58,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2063.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,402},{57,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2064.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,785},{47,52}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2065.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,400},{46,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2066.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,519},{51,61}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2067.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,240},{52,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2068.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,526},{34,34}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2069.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,486},{35,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2070.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,339},{49,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2071.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,392},{49,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2072.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,293},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2073.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,291},{36,37}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2074.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,122},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>UIImage/Game2/2075.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,306},{45,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>
			<key>UIImage/Game2/2076.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,148},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>UIImage/Game2/2077.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,683},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>UIImage/Game2/2084.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,75},{9,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,16}</string>
			</dict>
			<key>UIImage/Game2/2092.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,206},{844,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{844,30}</string>
			</dict>
			<key>UIImage/Game2/2103.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,131},{283,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,69}</string>
			</dict>
			<key>UIImage/Game2/2104.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,637},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>UIImage/Game2/2081.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,584},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>UIImage/Game2/2082.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,749},{78,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,50}</string>
			</dict>
			<key>UIImage/Game2/2085.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,831},{63,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,61}</string>
			</dict>
			<key>UIImage/Game2/2086.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,909},{62,60}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,61}</string>
			</dict>
			<key>UIImage/Game2/2087.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,736},{63,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,61}</string>
			</dict>
			<key>UIImage/Game2/2088.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,681},{76,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,51}</string>
			</dict>
			<key>UIImage/Game2/2089.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>UIImage/Game2/2090.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,240},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>UIImage/Game2/2105.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,445},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>UIImage/Game2/2106.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,388},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>UIImage/Game2/2116.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,293},{39,37}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2117.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,295},{40,39}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>UIImage/Game2/2031.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,343},{59,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,53}</string>
			</dict>
			<key>UIImage/Game2/2032.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,793},{52,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,51}</string>
			</dict>
			<key>UIImage/Game2/2119.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,407},{60,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,54}</string>
			</dict>
			<key>UIImage/Game2/2122.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,849},{50,50}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>UIImage/Game2/2028.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,240},{62,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,54}</string>
			</dict>
			<key>UIImage/Game2/2029.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,519},{77,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,60}</string>
			</dict>
			<key>UIImage/Game2/2033.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,681},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>UIImage/Game2/2034.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,803},{76,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,50}</string>
			</dict>
			<key>UIImage/Game2/2126.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,304},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,44}</string>
			</dict>
			<key>UIImage/Game2/2127.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,643},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,44}</string>
			</dict>
			<key>UIImage/Game2/2128.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,468},{59,45}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>UIImage/Game2/2129.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,681},{60,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,48}</string>
			</dict>
			<key>UIImage/Game2/2091.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,192},{206,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,101}</string>
			</dict>
			<key>UIImage/Game2/2179.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,517},{55,54}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>UIImage/Game2/2180.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,343},{60,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>UIImage/Game2/2181.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,730},{50,51}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>UIImage/Game2/2135.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,431},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>UIImage/Game2/2136.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,870},{66,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,137}</string>
			</dict>
			<key>UIImage/Game2/2137.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,450},{66,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,137}</string>
			</dict>
			<key>UIImage/Game2/2139.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,240},{439,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,30}</string>
			</dict>
			<key>UIImage/Game2/2146.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,577},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>UIImage/Game2/2149.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,654},{113,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,47}</string>
			</dict>
			<key>UIImage/Game2/2158.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,2},{904,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{904,23}</string>
			</dict>
			<key>UIImage/Game2/2178.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,982},{533,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{533,30}</string>
			</dict>
			<key>UIImage/Game2/2123.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,131},{265,69}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,69}</string>
			</dict>
			<key>UIImage/Game2/2124.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,910},{266,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,69}</string>
			</dict>
			<key>UIImage/Game2/2130.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,910},{109,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,54}</string>
			</dict>
			<key>UIImage/Game2/2142.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,388},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>UIImage/Game2/2144.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,864},{34,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,47}</string>
			</dict>
			<key>UIImage/Game2/2145.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,334},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>UIImage/Game2/2147.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,849},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>UIImage/Game2/2162.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,437},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>UIImage/Game2/2163.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,306},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>UIImage/Game2/2182.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,940},{50,34}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,35}</string>
			</dict>
			<key>UIImage/Game2/2183.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,771},{50,34}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,35}</string>
			</dict>
			<key>UIImage/Game2/2184.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,864},{50,34}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,35}</string>
			</dict>
			<key>UIImage/Game2/2185.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,870},{51,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game2.png</string>
			<key>realTextureFileName</key>
			<string>Game2.png</string>
			<key>size</key>
			<string>{1024,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>