<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game6/6000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{896,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{896,504}</string>
			</dict>
			<key>UIImage/Game6/6007.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,211},{204,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,79}</string>
			</dict>
			<key>UIImage/Game6/6008.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,419},{204,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,79}</string>
			</dict>
			<key>UIImage/Game6/6009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,510},{204,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,79}</string>
			</dict>
			<key>UIImage/Game6/6010.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,2},{205,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,79}</string>
			</dict>
			<key>UIImage/Game6/6011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,946},{197,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,38}</string>
			</dict>
			<key>UIImage/Game6/6012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,627},{191,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,193}</string>
			</dict>
			<key>UIImage/Game6/6013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,824},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game6.png</string>
			<key>realTextureFileName</key>
			<string>Game6.png</string>
			<key>size</key>
			<string>{983,986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>983</integer>
			<key>height</key>
			<integer>986</integer>
		</dict>
	</dict>
</plist>