<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game1/1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,759},{22,30}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,522},{18,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,555},{18,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,646},{20,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,522},{18,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1005.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,447},{18,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,480},{18,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,555},{19,29}}</string>
				<key>offset</key>
				<string>{-2,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1008.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,588},{19,29}}</string>
				<key>offset</key>
				<string>{-2,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1009.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,489},{28,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,613},{21,32}}</string>
				<key>offset</key>
				<string>{-1,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,685},{20,33}}</string>
				<key>offset</key>
				<string>{-1,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1012.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,719},{21,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1013.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,685},{22,30}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1014.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,398},{18,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1015.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,350},{18,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1016.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,646},{20,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1017.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,431},{18,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1018.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,383},{18,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1019.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,350},{18,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1020.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,611},{19,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1021.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,489},{19,29}}</string>
				<key>offset</key>
				<string>{-1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1022.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,522},{28,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1023.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,649},{21,32}}</string>
				<key>offset</key>
				<string>{-2,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,722},{20,33}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1025.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,613},{21,29}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1026.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,350},{18,103}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,457},{18,103}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,105}</string>
			</dict>
			<key>UIImage/Game1/1028.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{134,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,170}</string>
			</dict>
			<key>UIImage/Game1/1029.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,398},{40,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>UIImage/Game1/1030.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,564},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>UIImage/Game1/1031.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,447},{38,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>UIImage/Game1/1032.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,350},{41,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,45}</string>
			</dict>
			<key>UIImage/Game1/1033.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,176},{134,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game1.png</string>
			<key>realTextureFileName</key>
			<string>Game1.png</string>
			<key>size</key>
			<string>{138,791}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>791</integer>
		</dict>
	</dict>
</plist>