<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game200/2113.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,154},{264,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,160}</string>
			</dict>
			<key>UIImage/Game200/2134.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,2},{193,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,102}</string>
			</dict>
			<key>UIImage/Game200/2148.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,2},{281,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,157}</string>
			</dict>
			<key>UIImage/Game200/2159.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,163},{43,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,55}</string>
			</dict>
			<key>UIImage/Game200/2161.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,761},{81,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,73}</string>
			</dict>
			<key>UIImage/Game200/2164.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,576},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>UIImage/Game200/2165.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,838},{74,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,71}</string>
			</dict>
			<key>UIImage/Game200/2166.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,761},{82,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,79}</string>
			</dict>
			<key>UIImage/Game200/2167.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,671},{97,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,86}</string>
			</dict>
			<key>UIImage/Game200/2168.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,574},{94,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,112}</string>
			</dict>
			<key>UIImage/Game200/2024.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,690},{98,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,68}</string>
			</dict>
			<key>UIImage/Game200/2025.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,453},{117,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,80}</string>
			</dict>
			<key>UIImage/Game200/2026.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,327},{122,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,80}</string>
			</dict>
			<key>UIImage/Game200/2027.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,573},{122,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,97}</string>
			</dict>
			<key>UIImage/Game200/2094.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,375},{122,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,128}</string>
			</dict>
			<key>UIImage/Game200/2095.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,375},{122,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,128}</string>
			</dict>
			<key>UIImage/Game200/2096.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,327},{122,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,128}</string>
			</dict>
			<key>UIImage/Game200/2097.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,327},{122,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,128}</string>
			</dict>
			<key>UIImage/Game200/2098.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,450},{122,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,128}</string>
			</dict>
			<key>UIImage/Game200/2099.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,453},{122,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,128}</string>
			</dict>
			<key>UIImage/Game200/2100.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{305,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,148}</string>
			</dict>
			<key>UIImage/Game200/2101.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,211},{264,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,160}</string>
			</dict>
			<key>UIImage/Game200/2111.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,163},{264,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,160}</string>
			</dict>
			<key>UIImage/Game200/2112.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,318},{264,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,160}</string>
			</dict>
			<key>UIImage/Game200/2125.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,453},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>UIImage/Game200/2152.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,199},{247,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,120}</string>
			</dict>
			<key>UIImage/Game200/2154.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{305,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{305,205}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game200.png</string>
			<key>realTextureFileName</key>
			<string>Game200.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>