<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game5/5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,819},{155,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,105}</string>
			</dict>
			<key>UIImage/Game5/5001.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,680},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>UIImage/Game5/5002.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,819},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>UIImage/Game5/5003.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,680},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>UIImage/Game5/5004.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,819},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>UIImage/Game5/5005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>
			<key>UIImage/Game5/5006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,341},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>
			<key>UIImage/Game5/5007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,680},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>
			<key>UIImage/Game5/5008.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,2},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>
			<key>UIImage/Game5/5009.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,2},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>
			<key>UIImage/Game5/5010.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,341},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>
			<key>UIImage/Game5/5011.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,680},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game5.png</string>
			<key>realTextureFileName</key>
			<string>Game5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>