<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UIImage/Game4/4000.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,663},{50,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,27}</string>
			</dict>
			<key>UIImage/Game4/4001.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,717},{50,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,27}</string>
			</dict>
			<key>UIImage/Game4/4002.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,493},{50,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,76}</string>
			</dict>
			<key>UIImage/Game4/4003.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,573},{50,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,76}</string>
			</dict>
			<key>UIImage/Game4/4004.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,817},{62,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,32}</string>
			</dict>
			<key>UIImage/Game4/4005.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,990},{62,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,32}</string>
			</dict>
			<key>UIImage/Game4/4006.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,889},{124,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,43}</string>
			</dict>
			<key>UIImage/Game4/4007.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,874},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4008.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,883},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4009.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,975},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{324,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,153}</string>
			</dict>
			<key>UIImage/Game4/4011.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,198},{122,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,110}</string>
			</dict>
			<key>UIImage/Game4/4012.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,287},{184,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,49}</string>
			</dict>
			<key>UIImage/Game4/4013.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,552},{169,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,53}</string>
			</dict>
			<key>UIImage/Game4/4014.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,821},{94,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,49}</string>
			</dict>
			<key>UIImage/Game4/4015.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,663},{163,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>UIImage/Game4/4016.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,369},{126,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,26}</string>
			</dict>
			<key>UIImage/Game4/4017.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,340},{184,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,49}</string>
			</dict>
			<key>UIImage/Game4/4018.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,369},{184,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,49}</string>
			</dict>
			<key>UIImage/Game4/4019.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,831},{153,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,30}</string>
			</dict>
			<key>UIImage/Game4/4025.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,312},{183,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,51}</string>
			</dict>
			<key>UIImage/Game4/4027.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,686},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4028.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,745},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4029.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,686},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4030.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,788},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4031.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,896},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4032.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,939},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4033.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,982},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4034.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,896},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4035.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,846},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4036.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,745},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4037.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,686},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4038.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,788},{143,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,39}</string>
			</dict>
			<key>UIImage/Game4/4045.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,159},{42,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,25}</string>
			</dict>
			<key>UIImage/Game4/4047.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,499},{145,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,40}</string>
			</dict>
			<key>UIImage/Game4/4050.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,846},{90,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,39}</string>
			</dict>
			<key>UIImage/Game4/4051.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,846},{90,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,39}</string>
			</dict>
			<key>UIImage/Game4/4052.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,846},{90,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,39}</string>
			</dict>
			<key>UIImage/Game4/4053.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,686},{90,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,39}</string>
			</dict>
			<key>UIImage/Game4/4054.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,686},{90,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,39}</string>
			</dict>
			<key>UIImage/Game4/4055.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,686},{90,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,39}</string>
			</dict>
			<key>UIImage/Game4/4065.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,984},{64,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,36}</string>
			</dict>
			<key>UIImage/Game4/4066.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,919},{64,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,36}</string>
			</dict>
			<key>UIImage/Game4/4067.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,445},{64,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,36}</string>
			</dict>
			<key>UIImage/Game4/4068.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,663},{137,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,46}</string>
			</dict>
			<key>UIImage/Game4/4069.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,939},{142,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,39}</string>
			</dict>
			<key>UIImage/Game4/4070.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,982},{142,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,39}</string>
			</dict>
			<key>UIImage/Game4/4071.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,939},{142,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,39}</string>
			</dict>
			<key>UIImage/Game4/4072.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,982},{142,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,39}</string>
			</dict>
			<key>UIImage/Game4/4073.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,2},{375,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,70}</string>
			</dict>
			<key>UIImage/Game4/4074.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,283},{158,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,37}</string>
			</dict>
			<key>UIImage/Game4/4077.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,446},{182,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,49}</string>
			</dict>
			<key>UIImage/Game4/4078.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,557},{184,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,48}</string>
			</dict>
			<key>UIImage/Game4/4079.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,499},{183,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,49}</string>
			</dict>
			<key>UIImage/Game4/4080.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,312},{182,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,51}</string>
			</dict>
			<key>UIImage/Game4/4081.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,393},{183,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,49}</string>
			</dict>
			<key>UIImage/Game4/4082.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,846},{182,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,46}</string>
			</dict>
			<key>UIImage/Game4/4083.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,987},{84,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,35}</string>
			</dict>
			<key>UIImage/Game4/4084.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,233},{184,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,50}</string>
			</dict>
			<key>UIImage/Game4/4086.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,831},{129,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,31}</string>
			</dict>
			<key>UIImage/Game4/4087.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,648},{179,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,49}</string>
			</dict>
			<key>UIImage/Game4/4088.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,663},{179,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,49}</string>
			</dict>
			<key>UIImage/Game4/4089.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,831},{179,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,49}</string>
			</dict>
			<key>UIImage/Game4/4090.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,804},{179,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,49}</string>
			</dict>
			<key>UIImage/Game4/4091.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,729},{84,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,35}</string>
			</dict>
			<key>UIImage/Game4/4092.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,76},{194,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,118}</string>
			</dict>
			<key>UIImage/Game4/4093.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{302,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,124}</string>
			</dict>
			<key>UIImage/Game4/4094.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,198},{167,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,60}</string>
			</dict>
			<key>UIImage/Game4/4095.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,609},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>UIImage/Game4/4096.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,130},{186,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,74}</string>
			</dict>
			<key>UIImage/Game4/4097.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,130},{203,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,66}</string>
			</dict>
			<key>UIImage/Game4/4099.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,76},{185,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,75}</string>
			</dict>
			<key>UIImage/Game4/4100.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,155},{187,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,74}</string>
			</dict>
			<key>UIImage/Game4/4056.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,498},{184,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,49}</string>
			</dict>
			<key>UIImage/Game4/4103.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,745},{137,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,46}</string>
			</dict>
			<key>UIImage/Game4/4102.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,795},{137,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,46}</string>
			</dict>
			<key>UIImage/Game4/4104.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,130},{149,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,42}</string>
			</dict>
			<key>UIImage/Game4/4105.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,889},{124,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,43}</string>
			</dict>
			<key>UIImage/Game4/4106.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,889},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4107.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,936},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4108.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,499},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4109.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,445},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4110.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,600},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>UIImage/Game4/4111.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,729},{125,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,42}</string>
			</dict>
			<key>UIImage/Game4/4112.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,729},{125,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,42}</string>
			</dict>
			<key>UIImage/Game4/4113.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,745},{125,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,42}</string>
			</dict>
			<key>UIImage/Game4/4114.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,846},{125,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,42}</string>
			</dict>
			<key>UIImage/Game4/4115.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,775},{125,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,42}</string>
			</dict>
			<key>UIImage/Game4/4116.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,775},{125,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,42}</string>
			</dict>
			<key>UIImage/Game4/4117.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,984},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4118.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,984},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4119.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,648},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4120.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,648},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4121.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,648},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4122.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,627},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4123.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,627},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4124.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,499},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4125.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,499},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4126.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,445},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4127.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,499},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4128.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,445},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4129.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,159},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4130.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,196},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>UIImage/Game4/4131.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,205},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Game4.png</string>
			<key>realTextureFileName</key>
			<string>Game4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>